<table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8" display="flex">
    <ng-container matColumnDef="cleanLevel">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>רמת נקיון</th>
        <td mat-cell *matCellDef="let element">{{element.cleanLevelName}}</td>
    </ng-container>
    <ng-container matColumnDef="colorName">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>צבע</th>
        <td mat-cell *matCellDef="let element">{{element.colorName}}</td>
    </ng-container>
    <ng-container matColumnDef="shapeName">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>צורה</th>
        <td mat-cell *matCellDef="let element">{{element.shapeName}}</td>
    </ng-container>
    <ng-container matColumnDef="CT">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>קראט</th>
        <td mat-cell *matCellDef="let element">{{element.CT}}</td>
    </ng-container>
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

</table>